:root {
  --White: #F2F8F8;
  --Black:  #232320;
  --Gray-dark: #56535f;
  --Bone: #fefaf6;
  --spacing: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
}

@font-face {
  font-family: 'Biotif';
  src: local('Biotif'), url(./fonts/Biotif-Regular.ttf) format('opentype');
}

body {
  margin: 0;
  font-family: Biotif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--Gray-dark);
  background-color: var(--Bone);
}



