:root {
  --White: #F2F8F8;
  --Black: #232320;
  --Gray-light: #7c778b;
  --Gray: #56535f;
  --Gray-dark: #3c3a42;
  --Bone: #fefaf6;
  --Cotton-candy: #ffc4ff;
  --spacing: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
}

@font-face {
  font-family: 'Biotif';
  src: local('Biotif'), url(./fonts/Biotif-Regular.ttf) format('opentype');
}

body {
  margin: 0;
  font-family: Biotif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--Gray);
  background-color: var(--Bone);
}

h1 {
  font-family: 'Domine', serif;
  font-size: 4rem;
  color: var(--Black);
}

h2 {
  font-family: 'Domine', serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--Black);
}

h3 {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--Black);
}

p {
  line-height: 40px;
  font-size: 1.3rem;
}



