.Home-content {
  display: flex;
  height: 100vh;
  background-color: aqua;
}

.Home-Text-container {
  display: flex;
  flex-direction: column;
  padding-top: 230px;
  padding-left: 105px;
  gap: var(--spacing-3);
}

.NinaReading-container {
  padding-top: 64px;
}

.Home-section {
  display: flex;
  justify-content: center;
}



