.Home-content {
  display: flex;
  height: 100vh;
}

.Home-Text-container {
  display: flex;
  flex-direction: column;
  padding-top: 230px;
  padding-left: 90px;
  gap: var(--spacing-3);
}

.NinaReading-container {
  /* padding-top: var(--spacing-6); */
  padding-top: 50px;
}

.Home-section {
  display: flex;
  justify-content: center;
}



