.Experience-content {
  display: flex;
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.Experience-list ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   text-align: left;
   font-weight: 600;
   font-size: 1.3rem;
   padding-top: var(--spacing-3);
   padding-bottom: var(--spacing-3);
   gap: var(--spacing-5);
   cursor: pointer;
   max-width: 140px;
   width: 100%;
}

.Experience-list li:hover {
  padding-bottom: 5px;
  border-bottom: solid 4px var(--Cotton-candy);
  color: var(--Gray-dark);
}

.selected {
  padding: 5px;
  border-bottom: solid 4px var(--Cotton-candy);
  color: var(--Gray-dark);
  /* background-color: var(--Cotton-candy);
  border-radius: var(--spacing-2); */
}


.Experience-details {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  max-width: 710px;
  min-width: 710px;
  width: 100%;

  max-height: 460px;
  min-height: 460px;
  height: 100%;
}

.Experience-details h3 {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--Gray-dark);
}

.Experience-title {
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tasks {
  display: none;
}

.visible {
  display: block;
  /* animation: fadeIn 300ms ease-in-out both; */
}

.tasks ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  list-style: inside;
  /* list-style-type: '✓ '; */
  /* list-style-type: '🎯 '; */
  list-style-type: '📌  ';
}

.tasks p {
  line-height: var(--spacing-4);
  font-size: 1.2rem;
}

.tasks-sublist ul {
  list-style: inside;
  list-style-type: '> ';
  display: flex;
  gap: var(--spacing);
  padding-top: var(--spacing-2);
  padding-left: var(--spacing-3);
}

.tasks-ul {
  padding: var(--spacing-2);
}

p.year {
  font-size: 1rem;
}

.bold {
  font-weight: 600;
}

.not-bold {
  font-weight: 500;
}