.About-container {
  display: flex;
  flex-direction: column;
}

.About-text {
  max-width: 850px;
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-4);
}

.About-text ul {
  list-style: circle;
  list-style: inside;
  list-style-type: '✔️ ';
}

.About-list {
  display: flex;
  gap: var(--spacing-5);
  padding-top: var(--spacing-2);
  padding-left: var(--spacing-3);
}