.Projects-container h2 {
  margin-bottom: var(--spacing-4);
}

.Projects-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.Project-section {
  display: flex;
  gap: var(--spacing-4);
  width: 850px;
}

.Project-image img {
  border-radius: var(--spacing);
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.1);
}

img.JobSeekerHome {
  width: 300px;
  height: 435px;
}

img.dogGoHome {
  width: 330px;
  height: 440px;
}

img.NinasCookbook {
  width: 580px;
  height: 350px;
}

.Project-section-ninas {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  width: 850px;
}

.Project-image-ninas {
  align-self: center;
}

.Project-image-ninas img {
  border-radius: var(--spacing);
  box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.2);
}